{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-flow-strip-types",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
